/* malayalam 
@font-face {
  font-family: 'Proxima';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/Proxima/v3/k3kQo8UPMOBO2w1UfcHoLnnA.woff2) format('woff2');
  unicode-range: U+0307, U+0323, U+0964-0965, U+0D02-0D7F, U+200C-200D, U+20B9, U+25CC;
}*/
/* latin 
@font-face {
  font-family: 'Proxima';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/Proxima/v3/k3kQo8UPMOBO2w1UfdnoLg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}*/
@font-face {
  font-family: 'Proxima';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/proxima_nova_regular.ttf");/*url("fonts/proxima_nova_regular.ttf") format('ttf');*/
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Proxima";
  color: #fafafa;
  background-color: rgba(0, 0, 0, 0);
}

#top_panel {
  width: 1073px;
  height: 58px;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 9px;
  left: 423px;
  background-color: rgba(0,0,0,0.5);
}

#plank_mur4sh{
  display:flex;
  flex-direction: row;
  font-family: "Proxima";
  width: 363px;
  height: 24px; 
  position: fixed;
  left: 33px;
  top: 9px;
  background-color: rgba(0,0,0,0.4);
  color: rgba(255,255,255,0.5);
  padding-top: 5px;
  text-transform: uppercase;
}

#plank_type_mur4sh{
  color: white;
  position: relative;
  left:-10px;
  width: 105px;
}

#plank_middle_mur4sh{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.pm_map{
  opacity: 1;
  display: flex;
  flex-direction: row;
}

.player_dead_stats{
  position:absolute;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  top: 6px;
  color: var(--white-half);
}

#players_left .player_dead_stats{
  left:249px;
}

#players_right .player_dead_stats{
  left:25px;
}

.planks_mur4sh{
  text-overflow: ellipsis;
  display: block;
  /*font-weight: 700;*/
  margin-left: 10px;
}

#plank_picked{
  color:white;
  opacity:0;
  position: relative;
  left: -230px;
  text-align: center;
  width: 265px;
}

#section_sb{
  display: flex;
  flex-direction: column;
  width:96px;
  position: relative;
}

#left_team #section_sb{
  margin-left: 368px; 
}

#right_team #section_sb{
  margin-right: 368px; 
}

#left_team {
  position: absolute;
  left:0px;
  /*width: 465px;*/
}

#right_team {
  position: absolute;
  right:0px;
  /*width: 465px;*/
}

#main {
  text-overflow: ellipsis;
  position: absolute;
  top: 6px;
  width: 272px;
  font-family: "Proxima";
  text-align: center;
  font-size: 37px;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  color: white
}

#left_team #main {
  float: left;
  left:104px;
}

#right_team #main {
  float: right;
  left:88px;
}

#logo {
  position: relative;
  width: 58px;
  height: 58px;
}

#left_team #logo {
  float: left;
}

#right_team #logo {
  float: right;
}

#team_logo {
  position: relative;
  width: 58px;
  height: 58px;
  object-fit: contain;
}

#left_team #team_logo {
  float: left;
  left:20px;
}

#right_team #team_logo {
  float: right;
  right:20px;
}

#team_flag {
  position: absolute;
  z-index: -1;
  display: block;
  width: 50px;
  height: 33px;
  top: 19px;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  opacity: 1;
}

#left_team > #team_flag {
  float: right;
  right: 7px;
  background-repeat: no-repeat;
}

#right_team > #team_flag {
  float: left;
  left: 12px;
  background-repeat: no-repeat;
}

#best_of {
  position: relative;
  height: 17px;
  padding-left: 13px;
  padding-top: 5px;
  width: 83px;
  display: none;
  flex-direction: row;
  /*background-color: rgba(0,0,0,0.5);*/
}


#score {
  top:-15px;
  position: relative;
  padding-top:20px;
  width: 96px;
  height: 75px;
  font-family: "Proxima";
  text-align: center;
  vertical-align: text-bottom;
  font-size: 27px;
  font-weight: normal;
  /*background-color: rgba(0,0,0,0.5);*/
}

#left_team #score {
  float: left;
  color: white
}

#right_team #score {
  float: right;
  color: white
}

.bar {
  position: absolute;
  width: 4px;
  height: 40px;
  top: 9px;
  background-color: white;
  display: block;
  opacity: 1;
}

.block1,
.block2,
.block3,
.block4,
.block5 {
  width: 8px !important; 
  height: 8px !important;
  background-color: white;
  opacity: 0;
  position: relative;
  border: 1px solid red;
}

.block1 {
  position: relative;
  left: -1px;
}

.block2 {
  position: relative;
  left: 4px;
}

.block3 {
  position: relative;
  left: 10px;
}

.block4 {
  position: relative;
  left: 16px;
}

.block5 {
  position: relative;
  left: 21px;
}

#left_team .bar {
  float: left;
  left: 15px;
}

#right_team .bar {
  float: right;
  left: -10px;
}

#center_section {
  width: 145px;
  height: 117px;
  margin-left: auto;
  margin-right: auto;
}

#round_timer {
  position: relative;
  top: 2px;
}

#round_timer_text {
  position: relative;
  font-family: "Proxima";
  text-align: center;
  vertical-align: text-bottom;
  font-size: 25px;
  font-weight: normal;
  color: white;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
}

#round_number {
  top: 0px;
  position: relative;
  /* height: 27px; */
  width: 100%;
  font-family: "Proxima";
  text-align: center;
  vertical-align: text-bottom;
  font-size: 19px;
  font-weight: normal;
}

#game_type_mur4sh{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 95px;
  width: 145px;
  height: 22px;
  font-family: "Proxima";
  text-align: center;
  font-size: 0px;
  font-weight: normal;
  color:white;
  display: none;
}

#stage{
  display:none;
  flex-direction: row;
  position: absolute;
  width: 368px;
  height: 40px;
  opacity: 1;
  background-color: rgba(0,0,0,0.5);
  font-family: "Proxima";
  text-align: center;
  font-size: 26px;
  font-weight: normal;
  color:white;
}

#right_team #stage_1{
  width:122px;
}

#left_team #stage_1{
  width:122px;
  border-right: 2px solid white;
}

#stage_2{
  width:122px;
  border-right: 2px solid white;
}

#right_team #stage_3{
  width:122px;
  border-right: 2px solid white;
}

#left_team #stage_3{
  width:122px;
}

#left_team > #stage {
  top:95px;
  color: white;
  left: 0px;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

#right_team > #stage {
  top:95px;
  right: -0px;
  color: white;

  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

#alert {
  position: relative;
  top: 22px;
  width: 228px;
  height: 40px;
  background-color: rgba(0,0,0,0.5);
}

#left_team > #alert {
  float: left;
  top:-20px;
  opacity: 0;
  color: white;
  left: 0px;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

#right_team > #alert {
  float: right;
  right: 0px;
  top: -20px;
  opacity: 0;
  color: white;

  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

#alert_text {
  position: relative;
  width: 100%;
  height: 40px;
  font-family: "Proxima";
  text-align: center;
  vertical-align: text-bottom;
  line-height: 44px;
  font-size: 20px;
  font-weight: 600;
}

#alert_text span{
  text-overflow: ellipsis;
  width:185px;
}

#left_team > #alert > #alert_text {
  float: left;
}

#right_team > #alert > #alert_text {
  float: right;
}

#alert_pole_left,
#alert_pole_right {
  position: absolute;
  width: 5px;
  height: 30px;
  top: 5px;
  background-color: white
}

#right_team > #alert > #alert_pole_left {
  float: left;
  left: -5px;
}

#left_team > #alert > #alert_pole_right {
  float: right;
  right: -5px;
}

#bomb_defuse {
  position: absolute;
  width: 35px;
  height: 30px;
  top: 5px;
}

#left_team #bomb_defuse {
  right: -40px;
}

#right_team #bomb_defuse {
  left: -40px;
}

#icon {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: rgb(0,0,0,0.4);
  opacity: 0;
}

#left_team #icon {
  float: left;
}

#right_team #icon {
  float: right;
}

.kit {
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url("/files/img/elements/icon_defuse_CT.png");
  max-height: 30px;
  max-width: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#kit_bar {
  position: relative;
  width: 5px;
  height: 30px;
  background-color: white;
  opacity: 0;
}

#left_team #kit_bar {
  float: right;
}

#right_team #kit_bar {
  float: left;
}

#teams_powers {
  width: 1073px;
  height: 8px;
  top: 67px;
  position: absolute;
  left: 423px;
  display: block;
}

#left_tp_text{
  left:10px;
  display: none;
  position: relative;
}

#right_tp_text{
  float:right;
  left:-10px;
  display: none;
  position: relative;
}

#left_tp{
  width: 50%;
  height: 100%;
  background-color: blue;
  position: absolute;
}

#right_tp{
  right: 0px;
  width: 50%;
  height: 100%;
  background-color: red;
  position: absolute;
}

#timers {
  width: 1073px;
  height: 20px;
  top: 84px;
  position: absolute;
  left: 423px;
}

#bomb_bar {
  z-index: 100;
  width: 100%;
  height: 4px;
  top: -10px;
  position: relative;
  background-color: var(--color-bomb);
  opacity: 0;
}

#defuse_bar {
  z-index: 101;
  width: 100%;
  height: 4px;
  top: -14px;
  position: relative;
  background-color: var(--color-defuse);
  opacity: 0;
}

#alert_middle_holder {
  position: fixed;
  width: 228px;
  height: 40px;
  top: -82px;
  left: 838px;
}

#alert_middle {
  position: relative;
  width: 100%;
  top: 157px;
  height: 40px;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;

  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

#pole_1_middle {
  position: relative;
  float: left;
  width: 5px;
  height: 30px;
  top: 5px;
  left: -5px;
  background-color: white
}

#pole_2_middle {
  position: relative;
  float: right;
  width: 5px;
  height: 30px;
  top: 5px;
  right: -5px;
  background-color: white
}

#alert_text_middle {
  position: relative;
  float: left;
  width: 95%;
  height: 40px;
  font-family: "Proxima";
  text-align: center;
  vertical-align: text-bottom;
  line-height: 46px;
  font-size: 18px;
  font-weight: normal;
  color: white
}

#observed {
  width: 622px;
  height: 52px;
  position: fixed;
  bottom: 105px;
  left: 50%;
  display:flex;
  flex-direction: row;
  background-color: rgba(0,0,0,0.5);
  transform: translateX(-50%);
}

#obs_avatar {
  width: 140px;
  height: 140px;
  position: relative;
  display: block;
  top:-140px;
  left: 24px;
}

#obs_img {
  opacity: 0;
  display: block;
  object-fit: contain;
  position: relative;
  width: 140px;
  height: 140px;
}

#obs_lane1 {
  width: 218px;
  top: 12px;
  position: relative;
  display: flex;
  flex-direction: row;
}

#obs_lane2 {
  border-radius: 3px 3px 0px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
  width: 186px;
}

#obs_team {
  opacity: 0;
  width: 22px;
  height: 18px;
  position: relative;
  left: 5px;
  top: -136px;
  /*background-color:  rgba(54,149,208,0.8);*/
}

#obs_team_img {
  width: 22;
  height: 18;
  object-fit: contain;
  position: relative;
}

#obs_alias {
  position: relative;
  left: 0px;
  top: -146px;
}

#obs_alias_text {
  position: relative;
  font-family: "Proxima";
  text-align: center;
  width: 120px;
  margin-right: auto;
  margin-left: AUTO;
  vertical-align: text-bottom;
  font-size: 20px;
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: visible;
  white-space: nowrap;
  color: #00acff;
}

#obs_realname_text {
  position: relative;
  font-family: "Proxima";
  text-align: center;
  vertical-align: text-bottom;
  font-size: 18px;
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: white;
}

#obs_country {
  width: 22px;
  height: 18px;
  position: relative;
  left: 160px;
  top: -200px;
  /*background-color:  rgba(54,149,208,0.8);*/
}

#obs_country_img {
  width: 22;
  height: 18;
  position: relative;
}

#obs_lane3 {
  width: 218px;
  display: flex;
  flex-direction: row;
}

#obs_lane_under{
  display: block;
  top: 52px;
  position: absolute;
  width: 622px;
  height: 4px;
  background-color: #00acff;
}

#obs_lane3_left_pole {
  width: 5px;
  height: 40px;
  position: absolute;
  left: -5px;
  bottom: 5px;
  display: none;
}

#obs_left_section {
  width: 140px;
  height: 50px;
  position: absolute;
  left: 0px;
}

#obs_health_section {
  margin-left:36px;
  width: 73px;
  position: relative;
  display: flex;
  flex-direction: row;
}

#obs_health_img {
  width: 15px;
  height: 15px;
  position: relative;
  left: 4px;
  top: 5px;
}

#obs_health_text {
  position: relative;
  left: 6px;
  top: 2px;
  font-family: "Proxima";
  text-align: left;
  vertical-align: text-bottom;
  font-size: 18px;
  /*font-weight: 600;*/
  color: white;
}

#obs_armor_section {
  width: 50px;
  position: relative;
  left: 0px;
  display: flex;
  flex-direction: row;
}

#obs_armor_img {
  width: 15px;
  height: 15px;
  position: relative;
  left: 3px;
  top: 5px;
}

#obs_armor_text {
  position: relative;
  left: 6px;
  top: 2px;
  font-family: "Proxima";
  text-align: left;
  vertical-align: text-bottom;
  font-size: 18px;
  /*font-weight: 600;*/
  color: white;
}

#obs_middle_section {
  width: 340px;
  height: 50px;
  position: absolute;
  left: 140px;
}

#obs_bomb_kit {
  opacity: 0;
  width: 15px;
  height: 15px;
  position: relative;
  left: 5px;
  top: 20px;
}

#obs_round_kills {
  width: 50px;
  height: 30px;
  position: absolute;
  left: 55px;
  top: 10px;
}

#obs_skull {
  width: 18px;
  height: 18px;
  position: relative;
  left: 0px;
  top: 6px;
}

#obs_round_kills_text {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: "Proxima";
  text-align: left;
  vertical-align: text-bottom;
  line-height: 36px;
  font-size: 20px;
  font-weight: 600;
  color: #00acff
}

#obs_kills {
  position: relative;
  left: -2px;
  top: 5px;
}

#obs_assists {
  position: relative;
  left: -2px;
  top: 5px;
}

#obs_deaths {
  position: relative;
  left: -2px;
  top: 5px;
}

#obs_kills_k,
#obs_assists_a,
#obs_deaths_d {
  width: 22px;
  height: 30px;
  position: relative;
  top: 10px;
  font-family: "Proxima";
  vertical-align: text-bottom;
  font-size: 17px;
  font-weight: normal;
  color: white;
}

#obs_kills_text,
#obs_assists_text,
#obs_deaths_text {
  width: 35px;
  height: 30px;
  position: relative;
  left: 12px;
  top: -20px;
  font-family: "Proxima";
  text-align: left;
  vertical-align: text-bottom;
  font-size: 17px;
  font-weight: 500;
  color: white;
}

#obs_nades {
  left: 14px;
  top: 18px;
  position: relative;
  display: flex;
  flex-direction: row;
}

#obs_nades div{
  margin-right:3px;
}

#obs_nade1 {
  width: 16px;
  height: 16px;
  position: relative;
}

#obs_nade2 {
  width: 16px;
  height: 16px;
  position: relative;
}

#obs_nade3 {
  width: 16px;
  height: 16px;
  position: relative;
}

#obs_nade4 {
  width: 16px;
  height: 16px;
  position: relative;
}

#obs_right_section {
  width: 140px;
  height: 50px;
  position: absolute;
  left: 480px;
}

#obs_bullets_section {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 68px;
  top: 16px;
}

#obs_ammo_section {
  width: 100px;
  height: 30px;
  position: absolute;
  top: -1px;
  left: 5px;
}

#obs_clip {
  width: 32px;
  position: absolute;
  left: 15px;

  font-family: "Proxima";
  text-align: right;
  vertical-align: text-bottom;
  font-size: 17px;
  font-weight: normal;
  color: white;
}

#obs_reserve {
  width: 44px;
  position: absolute;
  left: 48px;

  font-family: "Proxima";
  text-align: left;
  vertical-align: text-bottom;
  font-size: 17px;
  font-weight: normal;
  color: #00acff
}

#obs_lane3_right_pole {
  width: 5px;
  height: 40px;
  position: absolute;
  left: 620px;
  display: none;
  bottom: 5px;
}

#players_left {
  width: 585px;
  position: fixed;
  bottom: 15px;
  left: 33px;
}

#players_right {
  width: 585px;
  position: fixed;
  bottom: 15px;
  right: 33px;
}

#box_section {
  display: none;
  width: 395px;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#players_left > #box_section {
}

#players_right > #box_section {
  left: 183px;
}

#player_section {
  width: 100%;
  height: 434px;
  position: relative;
  top: 5px;
}

#box_top {
  display: none;
  border-radius: 3px;
  position: absolute;
  left: -420px;
  width: 363px;
  height: 70px;
  background-color: rgba(54,149,206,0.4);
}

#box_img {
  width: 70px;
  height: 70px;
  position: absolute;
  display:none;
}

#players_left > #box_section > #box_top > #box_img {
  right: 0;
}

#players_right > #box_section > #box_top > #box_img {
  left: 0;
}


#box_image {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 10px;
  opacity: 0;
}

#players_right > #box_section > #box_top > #box_main{
  display:none;
  bottom: 0px;
}

#players_right > #box_section > #box_top > #box_img > #box_image {
  left: 10px;
}

#players_left > #box_section > #box_top > #box_img > #box_image {
  right: 10px;
}

#box_main {
  width: 385px;
  position: absolute;
}

#main_primary {
  border-radius: 3px 3px 0px 0px;
  width: 335px;
  height: 35px;
  left: 10px;
  position: relative;
  font-family: "Proxima";
  text-align: left;
  vertical-align: text-bottom;
  line-height: 48px;
  font-size: 20px;
  font-weight: normal;
  color: white;
}

#players_right span{
  font-family: "Proxima";
  font-size: 20px;
  font-weight: normal;
  color: white
}

#players_right #main_primary,
#players_right #main_secondary {
  width: 200px;
  left: 0px;
}

#main_secondary {
  width: 100%;
  height: 50%;
  left: 10px;
  position: relative;
  font-family: "Proxima";
  text-align: left;
  vertical-align: text-bottom;
  line-height: 34px;
  font-size: 20px;
  font-weight: normal;
  color: white;
}

#players_right > #box_section > #box_top{
  display: block;
  left: 0px;
  height: 300px;
  width: auto;
  display:none;
  position: relative;
  background-color: unset !important;
}
#players_right > #box_section > #box_top > #box_main {
  background-color:  #f4f9ff;
  right: 3px;
  font-family: "Proxima";
  text-align: center;
  vertical-align: text-bottom;
  font-size: 28px;
  font-weight: normal;
  color: white;
  min-width: 200px;
  max-width: 300px;
  float: right;
  display:flex;
  flex-direction: column;
}

#main_top_mur4sh{
  margin-top:10px;
  font-size: 14px;
  height: 20px;
}

#main_right_title_mur4sh{
  width:100px;
  float:right;
  margin-bottom:10px;
}

#main_left_title_mur4sh{
  width:100px;
  float:left;
  margin-bottom:10px;
}

#main_middle_mur4sh{
  font-size: 14px;
  display:flex;
  flex-direction: row;
}

#main_lrm_title_mur4sh{
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#main_left_mur4sh img{
  margin-left: 25px;
  width: 50px;
  height: 50px;
  margin-bottom:10px;
}

#main_right_mur4sh img{
  margin-left: 25px;
  width: 50px;
  height: 50px;
  margin-bottom:10px;
}

#main_left_mur4sh, #main_right_mur4sh{
  display: flex;
  flex-direction: column;
}

#box_utility {
  width: 363px;
  height: 63px;
  margin-top: 5px;
  background-color:  rgba(0,0,0,0.4);
  display: flex;
  flex-direction: row;
  position: relative;
}

#players_right #box_utility{
  right: -34px;
  position: relative;
}

.box_heading {
  width: 100%;
  height: 20px;
  display:none;
  position: relative;
}

#box_heading_text {
  font-family: "Proxima";
  text-align: center;
  vertical-align: text-bottom;
  line-height: 23px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  position: relative;
}

#box_heading_subtext {
  font-family: "Proxima";
  text-align: left;
  vertical-align: text-bottom;
  line-height: 23px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  position: relative;
  top: -23px;
  left: 246px;
}

.box_grenades {
  position: relative;
  top: 20px;
  padding-left:10px;
  display: flex;
}

.box_nade_1 {
    margin-right: 10px;
  display: flex;
  flex-direction: row;
}

.util_smokegrenade_default {
  background-image: url("/files/img/grenades/weapon_smokegrenade.png");
  filter: brightness(0) invert(1);
  left: 8px;
}

.util_smokegrenade_T {
  background-image: url("/files/img/grenades/weapon_smokegrenade_T.png");
  left: 8px;
}

.util_smokegrenade_CT {
  background-image: url("/files/img/grenades/weapon_smokegrenade_CT.png");
  left: 8px;
}

.util_incgrenade_default {
  background-image: url("/files/img/grenades/weapon_incgrenade.png");
  filter: brightness(0) invert(1);
  left: 8px;
}

.util_incgrenade_CT {
  background-image: url("/files/img/grenades/weapon_incgrenade_CT.png");
  left: 8px;
}

.util_molotov_default {
  background-image: url("/files/img/grenades/weapon_molotov.png");
  filter: brightness(0) invert(1);
  left: 8px;
}

.util_molotov_T {
  background-image: url("/files/img/grenades/weapon_molotov_T.png");
  left: 8px;
}

.util_hegrenade_default {
  background-image: url("/files/img/grenades/weapon_hegrenade.png");
  filter: brightness(0) invert(1);
  left: 4px;
}

.util_hegrenade_T {
  background-image: url("/files/img/grenades/weapon_hegrenade_T.png");
  left: 4px;
}

.util_hegrenade_CT {
  background-image: url("/files/img/grenades/weapon_hegrenade_CT.png");
  left: 4px;
}

.util_flashbang_default {
  background-image: url("/files/img/grenades/weapon_flashbang.png");
  filter: brightness(0) invert(1);
}

.util_flashbang_T {
  background-image: url("/files/img/grenades/weapon_flashbang_T.png");
}

.util_flashbang_CT {
  background-image: url("/files/img/grenades/weapon_flashbang_CT.png");
}

#util_nade_1 {
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  background-image: url("/files/img/grenades/weapon_smokegrenade.png");
  filter: brightness(0) invert(1);
  /* left: 5px; */
  top: -4px;
  margin-right: 5px;
}

#util_nade_1_count {
  height: 20px;
  font-family: "Proxima";
  text-align: left;
  vertical-align: text-bottom;
  font-size: 20px;
  font-weight: normal;
  color: white;
}

.box_nade_2 {
    margin-right: 10px;
  display: flex;
  flex-direction: row;
}

#util_nade_2 {
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  background-image: url("/files/img/grenades/weapon_molotov.png");
  filter: brightness(0) invert(1);
  top: -4px;
  margin-right: 5px;
}

#util_nade_2_count {
  height: 20px;
  font-family: "Proxima";
  text-align: left;
  vertical-align: text-bottom;
  font-size: 20px;
  font-weight: normal;
  color: white;
}

.box_nade_3 {
    margin-right: 10px;
  display: flex;
  flex-direction: row;
}

#util_nade_3 {
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  background-image: url("/files/img/grenades/weapon_flashbang.png");
  filter: brightness(0) invert(1);
  top: -4px;
  margin-right: 5px;
}

#util_nade_3_count {
  height: 20px;
  font-family: "Proxima";
  text-align: left;
  vertical-align: text-bottom;
  font-size: 20px;
  font-weight: normal;
  color: white;
}

.box_nade_4 {
    margin-right: 10px;
  display: flex;
  flex-direction: row;
}

#util_nade_4 {
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  background-image: url("/files/img/grenades/weapon_hegrenade.png");
  filter: brightness(0) invert(1);
  top: -4px;
  margin-right: 5px;
}

#util_nade_4_count {
  height: 20px;
  font-family: "Proxima";
  text-align: left;
  vertical-align: text-bottom;
  font-size: 20px;
  font-weight: normal;
  color: white;
}

#box_monetary {
  border-radius: 3px;
  width: 100%;
  height: 70px;
  margin-top: 5px;
  background-color:  rgba(0,0,0,0.4);
  display: none;
}

.box_equip_value {
  width: 135px;
  height: 70px;
  position: absolute;
}

#players_left .box_equip_value {
  right: 5px;
}

#players_right .box_equip_value {
  left: 5px;
}

#equip_text {
  font-family: "Proxima";
  text-align: center;
  vertical-align: text-bottom;
  line-height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  position: relative;
}

#equip_value {
  font-family: "Proxima";
  text-align: center;
  vertical-align: text-bottom;
  line-height: 20px;
  font-size: 22px;
  font-weight: 600;
  color: rgb(167, 211, 46);
  position: relative;
}

#money_text {
  font-family: "Proxima";
  text-align: center;
  vertical-align: text-bottom;
  line-height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  position: relative;
}

#money_value {
  font-family: "Proxima";
  text-align: center;
  vertical-align: text-bottom;
  line-height: 20px;
  font-size: 22px;
  font-weight: 600;
  color: rgb(167, 211, 46);;
  position: relative;
}

#loss_text {
  font-family: "Proxima";
  text-align: center;
  vertical-align: text-bottom;
  line-height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  position: relative;
}

#loss_value {
  font-family: "Proxima";
  text-align: center;
  vertical-align: text-bottom;
  line-height: 20px;
  font-size: 22px;
  font-weight: 600;
  color: rgb(167, 211, 46);
  position: relative;
}

.box_team_money {
  width: 135px;
  height: 70px;
  position: absolute;
}

#players_left .box_team_money {
  right: 140px;
}

#players_right .box_team_money {
  left: 140px;
}

.loss_bonus_money {
  width: 135px;
  height: 70px;
  position: absolute;
}

.loss_bonus {
  width: 135px;
  height: 44px;
  position: relative;
  top: 10px;
}

.loss_bonus_text{
  font-family: "Proxima";
  font-size: 16px;
  color:white;
  position: relative;
  text-transform: uppercase;
}

#players_left .loss_bonus {
  left: 0px;
}

#players_right .loss_bonus {
  right: 0px;
}

#players_left .loss_bonus_money {
  left: 0px;
}

#players_right .loss_bonus_money {
  right: 0px;
}

.loss_boxes {
  float:left;
  width: 135px;
  position: relative;
  display: flex;
  flex-direction: row;
}

#players_left .loss_bonus {
  left: 10px;
}

#players_right .loss_bonus {
  right: -10px;
}

.loss_1 {
  margin-right: 10px;
  width: 22px;
  height: 22px;
  position: relative;
  border:1px solid gray;
  background-color: var(--white-dull);
}

.loss_2 {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  position: relative;
  border:1px solid gray;
  background-color: var(--white-dull);
}

.loss_3 {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  position: relative;
  border:1px solid gray;
  background-color: var(--white-dull);
}

.loss_4 {
  margin-right: 10px;
  width: 22px;
  height: 22px;
  position: relative;
  border:1px solid gray;
  background-color: var(--white-dull);
}

#players_left .loss_1,
#players_left .loss_2,
#players_left .loss_3,
#players_left .loss_4 {
  left: 0px;
}

#players_right .loss_1,
#players_right .loss_2,
#players_right .loss_3,
#players_right .loss_4 {
  left: 0px;
}

#player1,
#player2,
#player3,
#player4,
#player5 {
  width: 100%;
  height: 86px;
  position: relative;
}

.player_main_holder {
  width: 363px;
  height: 96px;
  position: absolute;
}

#players_right .player_main_holder {
  left: 180px;
}

.player_side_bar {
  width: 5px;
  height: 60px;
  top: 5px;
  display: none;
  position: absolute;
  background-color: white
}

#players_right .player_side_bar {
  left: 400px;
}

.player_image_holder {
  width: 86px;
  height: 86px;
  position: absolute;
}

#players_left .player_image_holder {
  left:0px;
}

#players_right .player_image_holder {
  right: -43px;
}

#player_image {
  position: relative;
  width: 80px;
  height: 86px;
  object-fit: contain;
  z-index: 1;
}

#player_image.dead {
  filter: grayscale(100%);
}

.player_section_top {
  width: 363px;
  height: 27px;
  position: absolute;
  background-color:  rgba(0,0,0,0.6);
}

#players_left .player_section_top {

}

#players_right .player_section_top {
  right: -37px;
}

.player_health_bar {
  /*border-radius: 3px 3px 0px 0px;*/
  width: 100%;
  height: 27px;
  position: relative;
}

#players_right .player_health_bar {
  float: right;
}

#players_left .player_health_bar {
  float: left;
}

.player_health {
  position: relative;
}

#players_left .player_health {
  left: 300px;
}

#players_right .player_health {
  left: 15;
}

#players_left #player_health_text{
  text-align: center;
  left: -148px;
}

#players_right #player_health_text{
  text-align: center;
  left: -170px;
}

#player_health_text {
  font-family: "Proxima";
  font-size: 20px;
  font-weight: normal;
  position: relative;
  color: white;
  top: -25px;
}

.player_alias {
  width: 185px;
  position: absolute;
  top: -1px;
}

#players_left .player_alias {
  left: 83px;
}

#players_right .player_alias {
  right: 83px;
}

#player_alias_text {
  font-family: "Proxima";
  vertical-align: text-bottom;
  font-size: 23px;
  font-weight: normal;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: white
}

#players_left #player_alias_text {
  left:10px;
}

#players_right #player_alias_text {
  text-align: right;
  right: 10px;
}

.player_weapon_primary {
  width: 93px;
  height: 25px;
  position: relative;
  top: 5px;
  
}

#alive_logo_block{
  width: 200px;
  height: 60px;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  right: 37px;
  top: 9px;
}

#lanstats_logo{
  width: 200px;
  height: 60px;
  object-fit: scale-down;
  /*background-color: rgba(0,0,0,0.5);*/
}

#alive_mur4sh{
  opacity: 0;
  top:0px;
  position: absolute;
  width:200px;
  height:76px;
}

#alive_left_team, #alive_right_team{
  position: relative;
  display: block;
  font-family: 'Proxima';
  text-transform: uppercase;
  text-align: center;
} 

#alive_left_team{
  top:-1px;
  margin-left: auto;
  margin-right: 5px;
}

#alive_right_team{
  margin-right: auto;
  margin-left: 5px;
}

#alive_top{
  display: none;
  position: relative;
  width: 100%;
  height: 29px;
  background-color: #b6b6b6;
  font-family: 'Proxima';
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

#alive_bottom{
  display: flex;
  flex-direction: row;
  width:100%;
  /*height: 47px;*/
  font-family: 'Proxima';
  font-size:48px;
}

#players_left .player_weapon_primary {
  right: 35px;
  float: right;
}

#players_right .player_weapon_primary {
  left: 35px;
  float: left;
}

#player_weapon_primary_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#player_weapon_primary_img {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
}

#players_left #player_weapon_primary_img {
  right: 0;
}

#players_right #player_weapon_primary_img {
  left: 0;
}

.player_section_bottom {
  width: 363px;
  height: 59px;
  position: relative;
  top: 27px;
  background-color:  rgba(0,0,0,0.4);
}

#players_left .player_section_bottom {
}

#players_right .player_section_bottom {
  left: 37px;
}

.player_armor {
  width: 18px;
  height: 18px;
  top: -23px;
  position: relative;
}

#players_left .player_armor {
  left: -68px;
  float: right;
}

#players_right .player_armor {
  left: 60px;
  float: left;
}

#player_armor_image {
  width: 100%;
  height: 100%;
}

.player_bomb_kit {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 35px;
  
}

#players_left .player_bomb_kit {
  float: right;
  right: 112px;
}

#players_right .player_bomb_kit {
  left: 112px;
}

#player_bomb_kit_image {
  width: 100%;
  height: 100%;
}

.player_current_money {
  top: 5px;
  width: 70px;
  position: absolute;
}

#players_left .player_current_money {
  left: 95px;
}

#players_right .player_current_money {
  left: 212px;
}

#player_current_money_text {
  font-family: "Proxima";
  vertical-align: text-bottom;
  font-size: 20px;
  font-weight: normal;
  position: relative;
  color: #00d700;
}

.player_round_kills {
  width: 30px;
  top: 6px;
  height: 18px;
  display:none;
  position: absolute;
  /*display:flex;
  flex-direction: row;*/
}

#players_left .player_round_kills {
  left: 160px;
}

#players_right .player_round_kills {
  left: 173px;
}

#player_skull {
  width: 13px;
  height: 20px;
  position: relative;
}

#players_left #player_skull {
  left: 0px;
}

#players_right #player_skull {
  right: 0px;
}

#player_round_kills_text {
  font-family: "Proxima";
  vertical-align: text-bottom;
  font-size: 20px;
  font-weight: normal;
  position: relative;
  color:white;
}

#players_left #player_round_kills_text {
  text-align: left;
  left: 8px;
  top:-2px;
}

#players_right #player_round_kills_text {
  text-align: right;
  right: -2px;
  top: -2px;
}

.player_nades {
  width: 73px;
  position: absolute;
  top: 34px;
  display: flex;
  flex-direction: row;
  
}

#players_left .player_nades div{
  margin-left:auto;
}

#players_left .player_nades {
  float: right;
  right: 35px;
}

#players_right .player_nades div{
  margin-right: auto;
}

#players_right .player_nades {
  left: 35px;
}

#player_nade1 {
  width: 16px;
  height: 16px;
  position: relative;
}

#players_left #player_nade1 {
  
}

#players_right #player_nade1 {
  
}

#player_nade2 {
  width: 16px;
  height: 16px;
  position: relative;
}

#players_left #player_nade2 {
  
}

#players_right #player_nade2 {
  
}

#player_nade3 {
  width: 16px;
  height: 16px;
  position: relative;
}

#players_left #player_nade3 {
  
}

#players_right #player_nade3 {
  
}

#player_nade4 {
  width: 16px;
  height: 16px;
  position: relative;
}

#players_left #player_nade4 {
  
}

#players_right #player_nade4 {
  
}

.player_weapon_secondary {
  display: block;
  width: 60px;
  height: 25px;
  position: relative;
  top: 5px;
}

#players_left .player_weapon_secondary {
  left: 161px;
}

#players_right .player_weapon_secondary {
  left: 156px;
}

#player_weapon_secondary_img {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  top: 0;
  bottom: 0;
  margin: auto;
}

#players_left #player_weapon_secondary_img {
}

#players_right #player_weapon_secondary_img {
  left: 0;
}

.player_hindered {
  display:none;
  width: 80px;
  height: 70px;
  position: absolute;
  z-index: -1;
  top: 12px;
}

#players_left .player_hindered {
  right: -90px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

#players_right .player_hindered {
  left: -50px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.flashed {
  width: 40px;
  height: 70px;
  position: relative;
  display: none;
}

#players_left .flashed {
  left: 0px;
}

#players_right .flashed {
  right: 0px;
}

#flashed_level {
  width: 34px;
  height: 70px;
  position: relative;
  left: 3px;
}

.blind {
  background-image: url("/files/img/elements/icon_blind.png");
  max-height: 70px;
  max-width: 34px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.burning {
  width: 40px;
  height: 70px;
  position: relative;
  display: none;
}

#players_left .burning {
  right: 0px;
}

#players_right .burning {
  left: 0px;
}

#burning_level {
  width: 34px;
  height: 70px;
  position: relative;
  left: 3px;
}

.burnt {
  background-image: url("/files/img/elements/icon_burning.png");
  max-height: 70px;
  max-width: 34px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.player_dead {
  width: 100px;
  height: 20px;
  position: relative;
  opacity: 1;
  top: -2px;
}

#players_left .player_dead {
  float: left;
  left: 95px;
}

#players_right .player_dead {
  float: right;
  right: 60px;
}

.player_dead_k {
  display: flex;
  flex-direction: row;
  width: 32px;
  height: 100%;
  position: absolute;
  left: 0px;
}

.player_dead_a {
  display: none;
  flex-direction: row;
  width: 32px;
  height: 100%;
  position: absolute;
  left: 34px;
}

.player_dead_d {
  display: flex;
  flex-direction: row;
  width: 32px;
  height: 100%;
  margin-left:25px;
  position: absolute;
  left: 37px;
}

#player_dead_kills_k{
  width: 18px;
  height: 18px;
  background:url("/files/img/elements/killed.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#player_dead_deaths_d{
  left: 3px
}

#player_dead_kills_k,
#player_dead_assists_a,
#player_dead_deaths_d {
  width: 18px;
  height: 18px;
  top: 3px;
  position: relative;
}

#player_dead_kills_text,
#player_dead_assists_text,
#player_dead_deaths_text {
  width: 32px;
  left: 5px;
  height: 35px;
  position: relative;
  font-family: "Proxima";
  text-align: center;
  vertical-align: text-bottom;
  font-size: 18px;
  font-weight: normal;
  color: var(--white-half);
}

#player_dead_deaths_text{
  left: 6px;
}

.player_spec {
  width: 6px;
  height: 86px;
  top: 0px;
  position: relative;
}

#players_left .player_spec {
  left: 363px;
}

#players_right .player_spec {
  right: -211px;
}

#player_spec_bar {
  width: 100%;
  height: 100%;
  position: relative;
}

#players_right #player_spec_bar{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#players_left #player_spec_bar{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.player_stats_holder {
  width: 180px;
  height: 60px;
  position: absolute;
  top: 5px;
  border-radius: 3px;
  background-color:  rgba(12, 15, 18, 0.6);
  z-index: -1;
  display: none;
}

#players_left .player_stats_holder {
  left: 410px;
}

#players_right .player_stats_holder {
  right: 410px;
}

.player_stats {
  width: 100%;
  height: 100%;
  position: relative;
}

.player_kills {
  width: 32px;
  height: 100%;
  position: absolute;
}

#players_left .player_kills {
  left: 0px;
}

#players_right .player_kills {
  left: 80px;
}

.player_assists {
  width: 32px;
  height: 100%;
  position: absolute;
}

#players_left .player_assists {
  left: 34px;
}

#players_right .player_assists {
  left: 114px;
}

.player_deaths {
  width: 32px;
  height: 100%;
  position: absolute;
}

#players_left .player_deaths {
  left: 68px;
}

#players_right .player_deaths {
  left: 148px;
}

.player_spent {
  width: 80px;
  height: 100%;
  position: absolute;
}

#players_left .player_spent {
  left: 100px;
}

#players_right .player_spent {
  left: 4px;
}

#player_kills_k,
#player_assists_a,
#player_deaths_d {
  width: 32px;
  height: 30px;
  position: relative;
  font-family: "Proxima";
  text-align: center;
  vertical-align: text-bottom;
  line-height: 42px;
  font-size: 20px;
  font-weight: normal;
  color: white
}

#player_kills_text,
#player_assists_text,
#player_deaths_text {
  width: 32px;
  height: 30px;
  position: relative;
  font-family: "Proxima";
  text-align: center;
  vertical-align: text-bottom;
  line-height: 30px;
  font-size: 20px;
  font-weight: normal;
  color: white;
}

#player_spent_text {
  width: 80px;
  height: 60px;
  position: relative;
  left: 5px;
  font-family: "Proxima";
  text-align: left;
  vertical-align: text-bottom;
  line-height: 65px;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-bomb);
}

.img-hor {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.invert {
  filter: invert(100%);
}

.checked {
  filter: brightness(0) invert(1) opacity(1);
}

.holstered {
  filter: brightness(0) invert(1) opacity(0.65);
}

.bomb_active {
  background-image: url("/files/img/elements/icon_c4_T.gif");
  height: 30px;
  width: 30px;
  margin-right: auto;
  margin-left: auto;
  top: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bomb_exploded {
  background-image: url("/files/img/elements/icon_bomb_explosion_T.png");
  height: 30px;
  width: 30px;
  margin-right: auto;
  margin-left: auto;
  top: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bomb_defused {
  background-image: url("/files/img/elements/icon_defuse_CT.png");
  height: 30px;
  width: 30px;
  margin-right: auto;
  margin-left: auto;
  top: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.pause_active {
  background-image: url("/files/img/elements/icon_pause_default.png");
  height: 30px;
  width: 30px;
  margin-right: auto;
  margin-left: auto;
  top: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.pause_active_T {
  background-image: url("/files/img/elements/icon_pause_T.png");
  height: 30px;
  width: 30px;
  margin-right: auto;
  margin-left: auto;
  top: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.pause_active_CT {
  background-image: url("/files/img/elements/icon_pause_CT.png");
  height: 30px;
  width: 30px;
  margin-right: auto;
  margin-left: auto;
  top: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.players_eliminated_T {
  background-image: url("/files/img/elements/icon_skull_T.png");
  height: 30px;
  width: 30px;
  margin-right: auto;
  margin-left: auto;
  top: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.players_eliminated_CT {
  background-image: url("/files/img/elements/icon_skull_CT.png");
  height: 30px;
  width: 30px;
  margin-right: auto;
  margin-left: auto;
  top: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.round_time_reached {
  background-image: url("/files/img/elements/icon_timer_CT.png");
  height: 30px;
  width: 30px;
  margin-right: auto;
  margin-left: auto;
  top: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.round_warmup {
  background-image: url("/files/img/elements/icon_hourglass_default.png");
  height: 30px;
  width: 30px;
  margin-right: auto;
  margin-left: auto;
  top: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.obs_skull_default {
  background-image: url("/files/img/elements/icon_skull_default.png");
  max-height: 18px;
  max-width: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.obs_skull_T {
  background-image: url("/files/img/elements/icon_skull_T.png");
  max-height: 18px;
  max-width: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.obs_skull_CT {
  background-image: url("/files/img/elements/icon_skull_CT.png");
  max-height: 18px;
  max-width: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.health_default {
  background-image: url("/files/img/elements/icon_health_default.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.health_CT {
  background-image: url("/files/img/elements/icon_health_CT.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.health_T {
  background-image: url("/files/img/elements/icon_health_T.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.health_full_default {
  background-image: url("/files/img/elements/icon_health_full_default.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.health_full_CT {
  background-image: url("/files/img/elements/icon_health_full_CT.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.health_full_T {
  background-image: url("/files/img/elements/icon_health_full_T.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.armor_none_default {
  background-image: url("/files/img/elements/icon_armor_none_default.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.armor_none_CT {
  background-image: url("/files/img/elements/icon_armor_none_CT.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.armor_none_T {
  background-image: url("/files/img/elements/icon_armor_none_T.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.armor_helm_default {
  background-image: url("/files/img/elements/icon_armor_helmet_default.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.armor_helm_CT {
  background-image: url("/files/img/elements/icon_armor_helmet_CT.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.armor_helm_T {
  background-image: url("/files/img/elements/icon_armor_helmet_T.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.armor_kev_default {
  background-image: url("/files/img/elements/icon_armor_full_default.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.armor_kev_CT {
  background-image: url("/files/img/elements/icon_armor_full_CT.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.armor_kev_T {
  background-image: url("/files/img/elements/icon_armor_full_T.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.armor_half_default {
  background-image: url("/files/img/elements/icon_armor_half_default.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.armor_half_CT {
  background-image: url("/files/img/elements/icon_armor_half_CT.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.armor_half_T {
  background-image: url("/files/img/elements/icon_armor_half_T.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.armor_half_helm_default {
  background-image: url("/files/img/elements/icon_armor_half_helmet_default.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.armor_half_helm_CT {
  background-image: url("/files/img/elements/icon_armor_half_helmet_CT.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.armor_half_helm_T {
  background-image: url("/files/img/elements/icon_armor_half_helmet_T.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bullets_default {
  background-image: url("/files/img/elements/icon_bullets_default.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bullets_CT {
  background-image: url("/files/img/elements/icon_bullets_CT.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bullets_T {
  background-image: url("/files/img/elements/icon_bullets_T.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.nade_decoy {
  background-image: url("/files/img/grenades/weapon_decoy.png");
  max-height: 30px;
  max-width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: brightness(0) invert(1);
}

.nade_flashbang {
  background-image: url("/files/img/grenades/weapon_flashbang.png");
  max-height: 30px;
  max-width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: brightness(0) invert(1);
}

.nade_hegrenade {
  background-image: url("/files/img/grenades/weapon_hegrenade.png");
  max-height: 30px;
  max-width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: brightness(0) invert(1);
}

.nade_incgrenade {
  background-image: url("/files/img/grenades/weapon_incgrenade.png");
  max-height: 30px;
  max-width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: brightness(0) invert(1);
}

.nade_molotov {
  background-image: url("/files/img/grenades/weapon_molotov.png");
  max-height: 30px;
  max-width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: brightness(0) invert(1);
}

.nade_smokegrenade {
  background-image: url("/files/img/grenades/weapon_smokegrenade.png");
  max-height: 30px;
  max-width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: brightness(0) invert(1);
}

.obs_kit {
  background-image: url("/files/img/elements/icon_defuse_default.png");
  max-height: 15px;
  max-width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.obs_bomb {
  background-image: url("/files/img/elements/icon_bomb_default.png");
  max-height: 15px;
  max-width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.player_kit {
  background-image: url("/files/img/elements/icon_defuse_default.png");
  max-height: 25px;
  max-width: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.player_bomb {
  background-image: url("/files/img/elements/icon_bomb_default.png");
  max-height: 25px;
  max-width: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.player_bomb_selected {
  background-image: url("/files/img/elements/icon_bomb_T.png");
  max-height: 25px;
  max-width: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.player_skull_default {
  background-image: url("/files/img/elements/icon_skull_default.png");
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.player_nade_decoy {
  background-image: url("/files/img/grenades/weapon_decoy.png");
  max-height: 35px;
  max-width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.player_nade_flashbang {
  background-image: url("/files/img/grenades/weapon_flashbang.png");
  max-height: 35px;
  max-width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.player_nade_hegrenade {
  background-image: url("/files/img/grenades/weapon_hegrenade.png");
  max-height: 35px;
  max-width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.player_nade_incgrenade {
  background-image: url("/files/img/grenades/weapon_incgrenade.png");
  max-height: 35px;
  max-width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.player_nade_molotov {
  background-image: url("/files/img/grenades/weapon_molotov.png");
  max-height: 35px;
  max-width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.player_nade_smokegrenade {
  background-image: url("/files/img/grenades/weapon_smokegrenade.png");
  max-height: 35px;
  max-width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

:root {
  --main-panel-color: rgba(12, 15, 18, 0.75);
  --sub-panel-color: rgba(12, 15, 18, 0.6);
  --white-dull: rgba(250, 250, 250, 0.25);
  --white-full: rgba(250, 250, 250, 1);
  --white-half: rgba(250, 250, 250, 0.5);
  --color-moneys: #a7d32e;
  --dev-purple: rgba(200, 0, 255, 1);
  --color-t: #c19511;
  --color-ct: #5788a8;
  --color-new-t: #f0c941;
  --color-new-ct: #5ab8f4;
  --color-bomb: #f22222;
  --color-defuse: #2222f2;
}
